<div class="lanterna">
  <div class="carga">
    <label>Carga: {{lanterna.bateria.carga}}%</label>

  </div>
  <div class="onoff">
    <img src="assets/flashlight.png" alt="power-button" width="48px" class="col-12">
    <label [ngClass]="{'on': lanterna.status, 'off': !lanterna.status }" >{{lanterna.status ? 'Ligado' : 'Desligado'}}</label>
    <button class="btn btn-primary col-12"
      (click)="lanterna.ligaDesliga()">{{lanterna.status ? 'Desligar' : 'Ligar'}}</button>
    <button class="btn btn-primary col-12"
      (click)="lanterna.trocarBateria()">Trocar Bateria</button>
  </div>
</div>
